<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="panda">
  <!-- Panda Arm + Hand -->
  <xacro:include filename="$(find franka_description)/robots/panda_arm_hand.urdf.xacro"/>

  <xacro:include filename="$(find deep_grasp_task)/urdf/camera/camera_macro.urdf.xacro"/>
  <!-- camera side view for the cylinder -->
  <xacro:kinect_camera parent_link="panda_link0" cam_py="-0.25" cam_pz="0.04"/>
  <!-- overhead position -->
  <!-- <xacro:kinect_camera parent_link="panda_link0" cam_px="0.5" cam_pz="0.7" cam_op="1.57079632679"/> -->


  <!-- Crank up the friction -->
  <gazebo reference="panda_leftfinger">
    <mu1>100.0</mu1>
    <mu2>100.0</mu2>
  </gazebo>

  <gazebo reference="panda_rightfinger">
    <mu1>100.0</mu1>
    <mu2>100.0</mu2>
  </gazebo>
</robot>
