<launch>
  <!-- Franka Panda in gazebo + ros control -->
  <include file="$(find gqcnn_demo)/launch/panda_world.launch"/>
  <!-- <include file="$(find gazebo_ros)/launch/empty_world.launch" >
    <arg name="paused" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="recording" value="false"/>
    <arg name="debug" value="false"/>
  </include> -->

  <!-- spawn object -->
  <!-- cylinder -->
  <!-- <param name="object_description" command="$(find xacro)/xacro '$(find gqcnn_demo)/urdf/objects/cylinder.urdf.xacro'"/>
  <node name="spawn_gazebo_object" pkg="gazebo_ros" type="spawn_model"
     args="-urdf -param object_description -model cylinder -x 0.5 -y -0.25 -z 0.125" respawn="false" output="screen" /> -->

  <!-- bar clamp -->
 <!-- <param name="object_description" command="$(find xacro)/xacro '$(find gqcnn_demo)/urdf/objects/bar_clamp.urdf.xacro'"/>
 <node name="spawn_gazebo_object" pkg="gazebo_ros" type="spawn_model"
    args="-urdf -param object_description -model bar_clamp -x 0.5 -y 0.0 -z 0.03" respawn="false" output="screen" /> -->

  <!-- strawberry -->
  <param name="object_description" command="$(find xacro)/xacro '$(find gqcnn_demo)/urdf/objects/strawberry.urdf.xacro'"/>
  <node name="spawn_gazebo_object" pkg="gazebo_ros" type="spawn_model"
     args="-urdf -param object_description -model strawberry -x 0.5 -y 0.0 -z 0.0" respawn="false" output="screen" />

  <!-- Run Rviz -->
  <node name="$(anon rviz)" pkg="rviz" type="rviz" respawn="false" args="-d $(find moveit_task_constructor_demo)/config/mtc.rviz">
    <rosparam command="load" file="$(find panda_moveit_config)/config/kinematics.yaml"/>
  </node>
</launch>
