<?xml version="1.0"?>
<launch>
  <arg name="debug" default="false"/>
  <arg unless="$(arg debug)" name="launch_prefix" value="" />
  <arg if="$(arg debug)" name="launch_prefix" value="gdb -x $(find deep_grasp_demo)/launch/gdb_settings.gdb --args" />

  <!-- Action namespace -->
  <arg name="action_name" default="generate_grasps" doc="action namespace"/>

  <!-- optional file for object -->
  <arg name="path_to_pcd_file" value="$(find deep_grasp_demo)/config/cylinder.pcd" doc="path to point cloud file"/>
  <arg name="cloud_frame_id" value="panda_link0" doc="frame if of the point cloud"/>

  <!-- Run MTC pick and place using GPD-->
  <node launch-prefix="$(arg launch_prefix)" name="mtc_tutorial" pkg="deep_grasp_demo" type="gpd_pick_place_demo" output="screen">
    <param name="execute" value="true" />
    <param name="action_name" value="$(arg action_name)"/>
    <rosparam command="load" file="$(find moveit_task_constructor_demo)/config/panda_config.yaml" />
  </node>

  <!-- Handles the GPD lib -->
  <node launch-prefix="$(arg launch_prefix)" name="gpd_action_server" pkg="deep_grasp_demo" type="gpd_action_server" output="screen">
    <param name="action_name" value="$(arg action_name)"/>
    <param name="cloud_frame_id" value="$(arg cloud_frame_id)"/>
    <param name="path_to_pcd_file" value="$(arg path_to_pcd_file)"/>
  </node>

  <!-- gpd ros wrapper for now-->
  <include file ="$(find gpd_ros)/launch/gpd_wrapper.launch"/>
</launch>
